{% load i18n %}
<ul>
    <li><a href="{% url 'demo:wizard' %}">引导页面</a></li>
    <li><a href="{% url 'demo:selectdate' %}">SelectData</a></li>
    <li><a href="{% url 'demo:char' %}">CharField</a></li>
    <li><a href="{% url 'demo:choice' %}">Choiceield</a></li>
    <li><a href="{% url 'demo:date' %}">date</a></li>
    <li><a href="{% url 'demo:datetime' %}">datetime</a></li>
    <li><a href="{% url 'demo:decimal' %}">decimal</a></li>
    <li><a href="{% url 'demo:duration' %}">duration</a></li>
    <li><a href="{% url 'demo:email' %}">email</a></li>
    <li><a href="{% url 'demo:file' %}">file</a></li>
    <li><a href="{% url 'demo:filepath' %}">filepath</a></li>
    <li><a href="{% url 'demo:float' %}">float</a></li>
    <li><a href="{% url 'demo:image' %}">image</a></li>
    <li><a href="{% url 'demo:integer' %}">integer</a></li>
    <li><a href="{% url 'demo:ipaddress' %}">ipaddress</a></li>
    <li><a href="{% url 'demo:multiplechoice' %}">multiplechoice</a></li>
    <li><a href="{% url 'demo:nullbolean' %}">nullbolean</a></li>
    <li><a href="{% url 'demo:regex' %}">regex</a></li>
    <li><a href="{% url 'demo:slug' %}">slug</a></li>
    <li><a href="{% url 'demo:time' %}">time</a></li>
    <li><a href="{% url 'demo:url' %}">url</a></li>
    <li><a href="{% url 'demo:uuid' %}">uuid</a></li>
    <li><a href="{% url 'demo:combo' %}">combo</a></li>
    <li><a href="{% url 'demo:splitdatetime' %}">splitdatetime</a></li>
    <li><a href="{% url 'demo:modelchoice' %}">modelchoice</a></li>
    <li><a href="{% url 'demo:modelmultichoice' %}">modelmultichoice</a></li>
    <li><a href="{% url 'demo:password' %}">password</a></li>
    <li><a href="{% url 'demo:hidden' %}">hidden</a></li>
    <li><a href="{% url 'demo:textarea' %}">textarea</a></li>
    <li><a href="{% url 'demo:radioselect' %}">radioselect</a></li>
    <li><a href="{% url 'demo:fileinput' %}">fileinput</a></li>
    <li><a href="{% url 'demo:splithiddendatetime' %}">splithiddendatetime</a></li>
    <!--
    <li class="submenu">
        <dmc-collapsible>
            <ul class="collapsible">
                <li>
                    <a class="collapsible-header">样式DEMO</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{% url 'demo:choice' %}" style="color: rgba(0,0,0,.87)">Choiceield</a></li>
                            <li><a href="{% url 'demo:date' %}" style="color: rgba(0,0,0,.87)">date</a></li>
                            <li><a href="{% url 'demo:datetime' %}" style="color: rgba(0,0,0,.87)">datetime</a></li>
                            <li><a href="{% url 'demo:decimal' %}" style="color: rgba(0,0,0,.87)">decimal</a></li>
                        </ul>
                    </div>
                </li>
                </ul>
        </dmc-collapsible>
    </li>
    -->
</ul>