{% extends 'material/frontend/base.html' %}
{% load i18n static %}

{% block title %}{% trans "x2x4 Site" %}{% endblock %}
{% block page_title %}{% trans "x2x4 Site" %}{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}


{% block js %}
{{ block.super }}



{% endblock %}

{% block topbar_links %}

<li id="lang_chose_menu"><a class="dropdown-button" href="#!" data-target="lang-menu"><i class="material-icons right">arrow_drop_down</i>Lang</a></li>
<ul id="lang-menu" class="dropdown-content"  style="min-width:200px">
    <li><a data-turbolinks="false" href="/url1">Item 1</a></li>
    <li><a data-turbolinks="false" href="/url2">Item 2</a></li>
</ul>
{{ block.super }}
{% endblock %}



{% block main %}
{{ block.super }}

<script>$('.dropdown-button').dropdown()</script>
{% endblock %}