{% extends 'material/frontend/base.html' %}

{% load i18n material_form %}

{% block title %}{{ current_module.verbose_name }} - {{ block.super }}{% endblock %}
{% block page_title %}<a href="{{ current_module.index_url }}">{{ current_module.verbose_name }}</a>{% endblock %}
{% block breadcrumbs_items %}{{ form.description }}{% endblock %}


{% block content %}
    <div class="left-panel wide">
        <div class="card">
            <div class="card-content">
                <form method="POST">
                    {% csrf_token %}
                    {% form form=form %}{% endform %}
                    <button type="submit" name="_submit" class="btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
{{ block.super }}

{% endblock %}


{% block js %}
{{ block.super }}



{% endblock %}

{% block topbar_links %}

<li id="lang_chose_menu"><a class="dropdown-button" href="#!" data-target="lang-menu"><i class="material-icons right">arrow_drop_down</i>Lang</a></li>
<ul id="lang-menu" class="dropdown-content"  style="min-width:200px">
    <li><a data-turbolinks="false" href="/url1">Item 1</a></li>
    <li><a data-turbolinks="false" href="/url2">Item 2</a></li>
</ul>
{{ block.super }}
{% endblock %}



{% block main %}
{{ block.super }}

<script>$('.dropdown-button').dropdown()</script>
{% endblock %}