{% extends 'material/frontend/base.html' %}
{% load i18n material_form %}

{% block extrahead %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
    <div class="left-panel wide">
        <div class="card">
            <div class="card-content">
                <span class="card-title grey-text text-darken-2">Complete!</span>
                <div class="row">
                    <div class="col s12">
                        Thank you for posting this!
                        <pre>{{ form_data }}</pre>
                    </div>
                </div>
            </div>
            <div class="card-action right-align">
                <a class="btn white-text" href="/demo/wizard/">
                    {% trans "One more time" %}
                    <i class="mdi-av-repeat left"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block topbar_links %}

<li id="lang_chose_menu"><a class="dropdown-button" href="#!" data-target="lang-menu"><i class="material-icons right">arrow_drop_down</i>Lang</a></li>
<ul id="lang-menu" class="dropdown-content"  style="min-width:200px">
    <li><a data-turbolinks="false" href="/url1">Item 1</a></li>
    <li><a data-turbolinks="false" href="/url2">Item 2</a></li>
</ul>
{{ block.super }}
{% endblock %}



{% block main %}
{{ block.super }}

<script>$('.dropdown-button').dropdown()</script>
{% endblock %}
